<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tain.mybatis.mappers.CustProdMapper">
	<select id="selectAll" parameterType="CamelMap" resultType="CamelMap">
		select
			id
			, cust_code
			, prod_code
			, count
		from
			tb_cust_prod
		where 1=1
	</select>
	
	<select id="selectAllJoin" parameterType="CamelMap" resultType="CamelMap">
		select
			<!-- 
			a.name          as a_name
			, b.cust_code   as b_cust_code
			, b.prod_code   as b_prod_code
			, c.kinds       as c_kinds
			, c.price * b.count   as total_info
			 -->
			a.name          as custname
			, c.name        as prodname
		from
			tb_cust         as a
			, tb_cust_prod  as b
			, tb_prod       as c
		where 1=1
			and b.cust_code = a.code
			and c.code = b.prod_code
	</select>
	
	
</mapper>