<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tain.mybatis.mappers.CustProdMapper">

	<select id="selectAll" parameterType="CamelMap" resultType="CamelMap">
		select
			id
			, cust_code
			, prod_code
			, prod_count
		from
			tb_cust_prod
		where 1=1
	</select>
	
	<select id="selectAllJoin" parameterType="CamelMap" resultType="CamelMap">
		select
			a.id             as a_id
			, a.code         as a_code
			, a.name         as a_name
			, a.desc         as a_desc
			, b.id           as b_id
			, b.cust_code    as b_cust_code
			, b.prod_code    as b_prod_cude
			, b.prod_count   as b_prod_count
			, c.id           as c_id
			, c.code         as c_code
			, c.name         as c_name
			, c.desc         as c_desc
			, c.price        as c_price
			, c.price * b.prod_count   as kang
		from
			tb_cust         as a
			, tb_cust_prod  as b
			, tb_prod       as c
		where 1=1
			and b.cust_code = a.code
			and c.code = b.prod_code
	</select>
	
</mapper>